<%- include("partials/header.ejs") %>
<div class="px-4 py-5 my-5 text-center">
    <h1>You can edit your review here.</h1>
    <p class="mb-5">Please ensure all fields are filled with correct content.</p>
<form action="/update" method="POST">
    <div class="mb-3">
        <label for="title">Edit Title</label>
        <textarea class="form-control" name="title" id="title" placeholder="Type here..." required><%= book.title %></textarea>
        <div class="invalid-feedback">
          Required.
        </div>
    </div>
    <div class="mb-3">
        <label for="description">Edit Description</label>
        <textarea class="form-control" name="description" id="description" placeholder="Type here..." required><%= book.description %></textarea>
        <div class="invalid-feedback">
          Required.
        </div>
    </div>
    <div class="mb-3">
      <label for="validationTextarea">Edit Review</label>
      <textarea class="form-control" name="review" id="validationTextarea" placeholder="Type here..." required><%= book.review %></textarea>
      <div class="invalid-feedback">
        Required.
      </div>
    </div>
    
    <div class="row mb-5">
        <div class="form-group col-md-6">
          <label for="isbn">ISBN(used to fetch book cover)</label>
          <textarea class="form-control" name="isbn" id="isbn" required><%= book.isbn %></textarea>
        </div>
        <div class="form-group col-md-6">
          <label for="amazonLink">Amazon Link</label>
          <textarea class="form-control" name="link" id="link" required><%= book.link %></textarea>
        </div>
    </div>

    <p>Rating: <%= book.rating %></p>
    <p>Date Read: <%= book.read_date %></p>
    <button type="submit" name="updateBookId" value="<%= book.id %>" class="btn btn-primary">Submit</button>

  </form>
</div>
<%- include("partials/footer.ejs") %>