<%- include('partials/header.ejs') %>
<div class="text-center mt-4">
<img src="https://covers.openlibrary.org/b/isbn/<%= book.isbn %>-M.jpg" class="img-thumbnail" alt="book cover">
<h1 class="mt-2"><%= book.title %></h1>
<div class="container">
    <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
        <div class="col">
            <p class="p-3">Rating: <%= book.rating %></p>
        </div>
        <div class="col">
            <p class="p-3">ISBN: <%= book.isbn %></p>
        </div>
        <div class="col">
            <p class="p-3">Read Date: <%= book.read_date %></p>
        </div>
        <div class="col">
            <a href="<%= book.link %>" class="p-3">View on Amazon</a>
        </div>
    </div>
    <p><%= book.review %></p>
    <div class="row row-cols-2 mt-3 mb-3">
        <div class="col">
            <form action="/edit" method="POST">
                <input type="hidden" name="editBookId" value="<%= book.id %>">
                <button type="submit" class="btn btn-secondary">Edit Review</button>
            </form>
        </div>
        <div class="col">
            <form action="/delete" method="POST">
                <input type="hidden" name="deleteBookId" value="<%= book.id %>">
                <button type="submit" class="btn btn-danger">Delete Review</button>
            </form>
        </div>
    </div>
</div>
</div>
<%- include('partials/footer.ejs') %>